[user]
        name = Tom0427
        email = 82128211+Tom-game-project@users.noreply.github.com
[alias]
        graph = log --decorate --graph --all --name-status
        st = status
[credential]
        # git config --global credential.helper 'cache --timeout=10800'
        helper = cache --timeout=10800