[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule ".config/ghostty/shaders/ghostty-shaders"]
	path = .config/ghostty/shaders/ghostty-shaders
	url = https://github.com/0xhckr/ghostty-shaders
