[user]
	name =  muranaka tomonari
	email = 82128211+Tom-game-project@users.noreply.github.com
[alias]
	g = graph
	gs = graph-short
	st = status
	graph = log --decorate --graph --all --name-status  --show-signature
	graph-short = log --graph --all --pretty=format:\"%C(auto)%h %d %s %C(dim white)%an\"
[credential]
	helper = store --file /mnt/thumbdrive/.git-credentials
	helper = cache --timeout=10800
[core]
	pager = delta
	editor = vim
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
[merge]
	conflictStyle = zdiff3
[sequence]
	editor = vim
[commit]
	gpgsign = true
	verbose = true
[init]
	defaultBranch = master
